// основные переменные
$maxWidth: 1920;
$maxWidthContainer: 1140;
$body-font-family: "Helvetica Neue", "Arial", sans-serif;

$desktop: 1199.98px;
$tablet: 991.98px;
$bigPhone: 768px;
$smallPhone: 575.98px;